* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  text-decoration: none;
  color: #333; }

.header h1, .header h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0; }

.header h1 {
  font-size: 2em; }

.header h3 {
  font-size: 1.15em; }

.contact .unstyled {
  list-style-type: none;
  padding-left: 0; }
  .contact .unstyled li {
    display: inline-block;
    padding: 5px;
    border-radius: 5px; }
  .contact .unstyled li:active,
  .contact .unstyled li:hover {
    background-color: #ebebeb; }
